.card {
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-padding: 8px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
}

.health {
    -fx-accent: #ff0070;
}

.magic {
    -fx-accent: #0070ff;
}

.attack {
    -fx-accent: #ffdd00;
}

.defense {
    -fx-accent: #888888;
}

.speed {
    -fx-accent: #00ddff;
}

.agility {
    -fx-accent: #00ff70;
}

#prepare1 {
    -fx-border-width: 6px;
    -fx-border-color: #FF8888;
}

#prepare2 {
    -fx-border-width: 6px;
    -fx-border-color: #8888FF;
}

#prepareBoth {
    -fx-border-width: 6px;
    -fx-border-color: #ff88ff;
}

#selected1 {
    -fx-border-width: 6px;
    -fx-border-color: #ff0000;
}

#selected2 {
    -fx-border-width: 6px;
    -fx-border-color: #0000ff;
}

#selectedBoth {
    -fx-border-width: 6px;
    -fx-border-color: #ff00ff;
}

#background {
    -fx-background-image: url("../assets/background/background.png");
    -fx-opacity: 0.6;
}